[Unit]
Description=Creates the required keys on Install
ConditionPathExists=/var/lib/molior/.molior-install-keys

[Service]
Type=oneshot
User=root
ExecStart=/var/lib/molior/.molior-install-keys

[Install]
WantedBy=multi-user.target
