Source: molior
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: python3-all (>= 2.6.6-3), debhelper (>= 7), dh-python, dh-exec, python3-setuptools,
    python3-pytest, python3-pytest-cov, python3-coverage, python3-mock, python3-yaml, python3-sqlalchemy,
    python3-jinja2, python3-launchy, python3-tz, flake8, git, python3-kubernetes,
    python3-dateutil, python3-click, python3-async-cron, python3-giturlparse, python3-psutil, python3-aiofile,
    nodejs, npm, libjs-bootstrap5, libjs-ansi-up,
    node-react, node-react-dom, node-babel7, node-css-loader, webpack
Maintainer: André Roth <neolynx@gmail.com>

Package: molior-common
Section: misc
Architecture: all
Depends: ${misc:Depends}
Description: common scripts for molior
 Molior common scripts

Package: molior-server
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6), dh-autoreconf, git, git-lfs,
    python3-psycopg2, sudo, expect, yq, podman, uidmap, python3-kubernetes, postgresql-client,
    binfmt-support, qemu-user-static, python3-sqlalchemy, python3-yaml, python3-tz,
    python3-jinja2, python3-click, devscripts,
    bc, pxz | xz-utils (>= 5.2.4-1), python3-launchy, python3-dateutil, python3-async-cron,
    python3-giturlparse, python3-aiofile, python3-psutil,
    python3-fastapi, python3-itsdangerous, python3-starlette, python3-pydantic, python3-python-multipart,
    debootstrap (>= 1.0.110~bpo9+1), molior-common
Tag: devel::buildtools
Description: Debian Build and Repository Management System
 Debian Build System based on aptly
