Source: molior
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: python3-all (>= 2.6.6-3), debhelper (>= 7), dh-python, dh-exec, python3-setuptools,
    python3-pytest, python3-pytest-cov, python3-coverage, python3-mock, python3-yaml, python3-sqlalchemy,
    python3-jinja2, python3-cirrina (>= 0.4.7), python3-launchy, python3-tz, flake8, git
Maintainer: André Roth <neolynx@gmail.com>

Package: molior-server
Architecture: all
Pre-Depends: postgresql, postgresql-contrib
Depends: ${python3:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6), dh-autoreconf, git, git-lfs,
    python3-psycopg2, sudo, expect, tcl, sbuild, schroot,
    binfmt-support, qemu-user-static, python3-sqlalchemy, python3-yaml, python3-tz,
    python3-jinja2, python3-cirrina (>= 0.4.7), python3-click, devscripts, sensible-utils,
    bc, pxz | xz-utils (>= 5.2.4-1), python3-launchy, python3-dateutil, python3-async-cron,
    python3-giturlparse, python3-aiofile, python3-psutil, openssh-client,
    debootstrap (>= 1.0.110~bpo9+1)
Tag: devel::buildtools
Description: Debian Build System
 Debian Build System based on sbuild, schroot and aptly

Package: molior-client-http
Architecture: all
Section: misc
Depends: ${misc:Depends}, ${perl:Depends}, dpkg-dev, lsb-base (>= 3.0-6), adduser, lsb-release, fakeroot,
  haveged, gcc, debhelper, tcl, expect, dh-systemd | debhelper (>= 9.20160709), sudo, sbuild (>= 0.76.0-1~bpo9+1), lintian, openssh-server, wget, curl,
  schroot, gnupg, devscripts, pxz | xz-utils (>= 5.2.4-1),
  python3, python3-launchy, python3-yaml, python3-aiohttp, python3-aiofiles, python3-psutil, python3-netifaces
Tag: devel::buildtools
Description: Molior build node client
 Build node client for molior-server nodes (amd64 or arm64)

Package: molior-os-config
Section: misc
Architecture: all
Depends: ${misc:Depends}
Description: Molior base OS configuration
 This will configure the Debian OS (locale, language, ...)

Package: molior-vm
Architecture: all
Pre-Depends: molior-os-config
Depends: ${misc:Depends}, linux-image-amd64, lvm2, busybox,
  systemd-sysv, libpam-systemd, bash-completion,
  net-tools, ifupdown, isc-dhcp-client, iputils-ping,
  openssh-server, acpi-support-base, acpid, sudo, locales,
  dialog, bsdmainutils, less, haveged,
# add some tools:
  htop, bzip2, wget, psmisc,
# molior:
  molior-server, dma, molior-web, molior-tools,
  aptly (>= 1.3.0.adsy10.molior4), apache2-utils, apg
Description: molior virtual machine
 Virtual Machine meta package depending on molior and aptly services

Package: molior-vbox
Architecture: all
Depends: ${misc:Depends}, molior-vm,
  grub-pc,
# molior node
  molior-client-http,
# vim:
  vim-nox, python3-flake8, flake8, cmake, python3-pytest, python3-pytest-cov,
  libpython3-dev, fonts-hack-ttf, build-essential, exuberant-ctags,
# development:
  tree, telnet, man, gitk, git-gui, xauth,
  dh-python, debhelper, dh-exec, python3-all, nodejs (>= 8.1.3-1nodesource1~jessie1), npm (>= 5.8.0+ds6-2~bpo9+1)
Description: molior development virtual machine
 Development environment for molior

Package: molior-vsphere
Architecture: all
Depends: ${misc:Depends}, molior-vm,
    vim, grub-efi-amd64, efibootmgr
Description: molior virtual machine for vSphere
 molior virtual machine template (OVF) meta package

Package: molior-node-amd64
Architecture: all
Pre-Depends: molior-os-config
Depends: ${misc:Depends}, net-tools, ifupdown, isc-dhcp-client,
  iputils-ping, openssh-server,
  linux-image-amd64, grub-pc,
  acpi-support-base, acpid, sudo, locales,
  dialog, bsdmainutils, less, gawk, systemd-sysv, bash-completion,
  libpam-systemd, open-vm-tools,
# editors
  vim-nox,
# add some tools:
  htop, tree, bzip2, wget, telnet, man, psmisc,
# molior:
  molior-client-http
Description: molior build node ISO installer for testing
 Molior build node installation for amd64/i386 builds

Package: molior-node-amd64-efi
Architecture: all
Pre-Depends: molior-os-config
Depends: ${misc:Depends}, net-tools, ifupdown, isc-dhcp-client,
  iputils-ping, openssh-server,
  linux-image-amd64, grub-efi-amd64, efibootmgr,
  acpi-support-base, acpid, sudo, locales,
  dialog, bsdmainutils, less, gawk, systemd-sysv, bash-completion,
  libpam-systemd, open-vm-tools,
# editors
  vim-nox,
# add some tools:
  htop, tree, bzip2, wget, telnet, man, psmisc,
# molior:
  molior-client-http
Description: molior build node ISO installer for testing
 Testing setup for molior

Package: molior-node-arm64-efi
Architecture: all
Pre-Depends: molior-os-config
Depends: ${misc:Depends}, net-tools, ifupdown, isc-dhcp-client,
  iputils-ping, openssh-server,
  linux-image-arm64, grub-efi-arm64,
  acpi-support-base, acpid, sudo, locales,
  dialog, bsdmainutils, less, gawk, systemd-sysv, bash-completion,
  libpam-systemd,
# editors
  vim-nox,
# add some tools:
  htop, tree, bzip2, wget, telnet, man, psmisc,
# molior:
  molior-client-http
Description: molior build node ISO installer for testing
 Testing setup for molior
