#!/usr/bin/make -f
# -*- makefile -*-
#
#
include /usr/share/dpkg/pkg-info.mk

export IS_SPHINX=1
export PYBUILD_NAME=molior-server
export PYBUILD_DESTDIR_python3=debian/molior-server


%:
	echo 'MOLIOR_VERSION = "$(DEB_VERSION)"' > molior/version.py
	dh $@ --with python3,systemd,sphinxdoc --buildsystem=pybuild

override_dh_auto_test:
	flake8 molior tests pkgdata/molior-client-http/usr/lib/molior/molior-client
	python3 -m pytest --cov=molior tests/unit

override_dh_systemd_enable:
	dh_systemd_enable -p molior-server molior-server.service
	dh_systemd_enable -p molior-devel ssh-create-keys.service
	dh_systemd_enable -p molior-vbox ssh-create-keys.service
	dh_systemd_enable -p molior-node-amd64 ssh-create-keys.service
	dh_systemd_enable -p molior-node-amd64-efi ssh-create-keys.service
	dh_systemd_enable -p molior-node-arm64-efi ssh-create-keys.service
	dh_systemd_enable -p molior-client-http molior-client-http.service

override_dh_systemd_start:
	dh_systemd_start -p molior-server molior-server.service
	dh_systemd_start -p molior-devel ssh-create-keys.service
	dh_systemd_enable -p molior-vbox ssh-create-keys.service
	dh_systemd_start -p molior-node-amd64 ssh-create-keys.service
	dh_systemd_start -p molior-node-amd64-efi ssh-create-keys.service
	dh_systemd_start -p molior-node-arm64-efi ssh-create-keys.service
	dh_systemd_start -p molior-client-http molior-client-http.service

override_dh_auto_install:
	dh_auto_install -O--buildsystem=pybuild

	# build sphinx docs
	PYTHONPATH=. sphinx-build -N -bhtml doc/ debian/molior-doc/usr/share/doc/molior/html
	PYTHONPATH=. sphinx-build -N -bhtml userdoc/ debian/molior-doc/usr/share/doc/molior/userdocs
