#!/usr/bin/make -f
# -*- makefile -*-
#
#
include /usr/share/dpkg/pkg-info.mk

export IS_SPHINX=1
export PYBUILD_NAME=molior-server
export PYBUILD_DESTDIR_python3=debian/molior-server


%:
	dh $@ --with python3,systemd --buildsystem=pybuild

override_dh_auto_build:
	echo 'MOLIOR_VERSION = "$(DEB_VERSION)"' > molior/version.py
	dh_auto_build
	cd web && npm ci --legacy-peer-deps --omit=optional
	cd web && NODE_PATH=/usr/share/nodejs webpack --mode production

override_dh_auto_test:
	flake8 molior tests
# 	# python3 -m pytest --cov=molior tests/unit
